
<div class="alert alert-danger" role="alert" [hidden]="!error">
  <strong>{{ error }}</strong>
</div>

<div [hidden]="gameOver">
  <div *ngIf="playerCount === 2; else waiting" class="container mt-2" >
    <!-- <table class="table table-bordered">
      <tbody >
          <tr *ngFor="let i of [1,2,3]">
            <td class="cell" id="{{ 'cell-' + i + j }}" (click)="sendMove(i,j)" *ngFor="let j of [1,2,3]">{{i}} {{j}}</td>
          </tr>
      </tbody>
    </table> -->
    <table>
      <tr>
        <td (click)="sendMove(0, 0, 1)"><i class="fa" [ngClass]="getMoveAt(0,0)" aria-hidden="true"></i></td>
        <td class="vert" (click)="sendMove(1, 0, 2)"><i class="fa" [ngClass]="getMoveAt(1,0)" aria-hidden="true"></i></td>
        <td (click)="sendMove(2, 0, 4)"><i class="fa" [ngClass]="getMoveAt(2,0)" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td class="hori" (click)="sendMove(0, 1, 8)"><i class="fa" [ngClass]="getMoveAt(0, 1)" aria-hidden="true"></i></td>
        <td class="vert hori" (click)="sendMove(1, 1, 16)"><i class="fa" [ngClass]="getMoveAt(1, 1)" aria-hidden="true"></i></td>
        <td class="hori" (click)="sendMove(2, 1, 32)"><i class="fa" [ngClass]="getMoveAt(2, 1)" aria-hidden="true"></i></td>
      </tr>
      <tr>
        <td (click)="sendMove(0, 2, 64)"><i class="fa" [ngClass]="getMoveAt(0, 2)" aria-hidden="true"></i></td>
        <td class="vert" (click)="sendMove(1, 2, 128)"><i class="fa" [ngClass]="getMoveAt(1, 2)" aria-hidden="true"></i></td>
        <td (click)="sendMove(2, 2, 256)"><i class="fa" [ngClass]="getMoveAt(2, 2)" aria-hidden="true"></i></td>
      </tr>
    </table>
  </div>
  <ng-template #waiting>
    <div class="alert alert-primary" role="alert">
      <strong>In attesa di un giocatore...</strong>
    </div>
  </ng-template>
  <div [hidden]="!socketService.player.currentTurno">
      <div class="alert alert-primary text-center" role="alert">
        <strong>E' il tuo turno</strong>
      </div>
    </div>
</div>
<div [hidden]="!gameOver">
  <div class="alert alert-primary" role="alert">
    <strong>{{ gameOver }}</strong>
  </div>
</div>
{{ playerCount }}



